<header>
			<% logo = image_tag("logo.png", :alt => "Twitter Like", :class => "round") %>
			<%= link_to logo, root_path %>
			<nav class="round">
				<ul>
					<li><%= link_to "Accueil", "root_path"%></li>
					<li><%= link_to "Aide", "help_path"%></li>
					<% if signed_in? %>
						<li><%= link_to "Profil", current_user %></li>
						<li><%= link_to "Deconnexion", signout_path, :method => :delete %></li>
					<% else %>
						<li><%= link_to "Inscription", "#"%></li>
						<li><%= link_to "S'identifier", signin_path %></li>
					<% end %>
				</ul>
			</nav>
		</header>