<table class="profile" summary="Information profil">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.nom %>
      </h1>
	  <%= render "follow_form" if signed_in? %>
	  <% unless @user.microposts.empty? %>
	  <table class="microposts" summary="Micro-messages de l'utilisateur">
		<%= render @microposts %>
	  </table>
	  <%= will_paginate @microposts %>
	  <% end %>
    </td>
    <td class="sidebar round">
      <strong>Nom</strong> <%= @user.nom %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
	  <strong>Microposts</strong> <%= @user.microposts.count %>
	  <%= render "shared/stats" %>
    </td>
  </tr>
</table>


